@import "variable";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    background: black;
    display: table;
    position: relative;
    
    .salut{
        margin: 0;
        color: white;
        background: rgba(0, 0, 0, 0.226);
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 30px;
        position: absolute;
        top: 90px;
        left: 573px;
        height: 380px;

        #monportfolio{
            color: gold;
            font-size: 35px;
        }

        #monnom{
            font-size: 35px;
            color: rgb(92, 202, 197);
        }

        #fullstack{
            color:  white;
        }

        #ensemble{
            color: $primary;
        }

        #montravail{
            font-size: 32px;
            color: white;
        }
    }

    .lien1{
        
        position: relative;
        top: 500px;
        left: 573px;

        :hover .fa-arrow-right{
            transform: rotateZ(90deg);
        }
    }

    #bouton-link{
        padding: 0px 20px;
        border: 2px solid white;
        box-sizing: inherit;
        display: inline-block;
        font-size: 20pt;
        background: rgba(0, 0, 0, 0);
        color: white;
        transition: all 0.4s ease;
    }

    .fa-arrow-right{
        transition: all 0.4s ease;
    }
}

.nav-link{
    margin-right: 30px;
}

nav{
    border-bottom: 3px solid $secondary;
}
.mil {
    position: absolute;
    top: 0;
    z-index: 1;
}

.carousel-item{
    height: 100vh;
}

#about{
    padding-top: 80px;
    height: 863px;
    width: 100%;
    background: url("../img/bg11.png");
    background-repeat: no-repeat;
    background-size: cover;


    .aboutmyself{
        text-align: center;
        color: $secondary;
        height: 100%;
        display: grid;

        #me{
            margin: 0;
            border-bottom: 3px solid $secondary;
            height: 53px;
        }
  
        .flip-card {
            background-color: $secondary;
            width: 300px;
            height: 480px;
            border: 1px solid $secondary;
            margin-left: 10%;
            perspective: 1000px;
        }
  
    .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }
  
        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
  
  
        .flip-card-front {
            background-color: $primary;
            color: black;
        }
  
        .flip-card-back {
            background-color: $primary;
            color: $secondary;
            transform: rotateY(180deg);
        }

        .skills{
            padding-right: 30px;
        

            .progress{
                margin-bottom: 30px;

                .ontheline{
                    font-size: 100%;
                    color: black;
                }
            }

            .filtre{
                background: rgba(0, 0, 0, 0.205);

                .filtre-about{
                    background: $primary;
                    color: $secondary;
                    border: 1px solid $secondary;
                }
            }
        }
    }
}

.black-break{
    width: 100%;
    height: 130px;
    background: black;
}

#services{
    height: 110vh;
    background: url("../img/bg14.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;

    .messervices{
        height: 100%;
        text-align: center;

        #titreservices{
            color: $secondary;
            margin: 0;
            border-bottom: 3px solid $secondary;
        }

        .tarifs{
            height: 480px;

            .flipcard-ws{
                background-color: transparent;
                width: 400px;
                height: 250px;
                border: 1px solid #f1f1f100;
                perspective: 1000px;
              }
              

            .flipcard-ws-inner{
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
            }
              
            
            .flipcard-ws:hover .flipcard-ws-inner{
                transform: rotateY(180deg);
            }
              
              
            .flipcard-ws-front, .flipcard-ws-back{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }
              
              
            .flipcard-ws-front{
                color: black;
            }
              
              
            .flipcard-ws-back{
                background-color: $secondary;
                color: $primary;
                transform: rotateY(180deg);

            .flipcard-p{
                    margin: 0;
            }
            }

            .flipcard-app{
                background-color: transparent;
                width: 400px;
                height: 250px;
                border: 1px solid #f1f1f100;
                perspective: 1000px;
                }
                  
    
            .flipcard-app-inner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            }
                  
                
            .flipcard-app:hover .flipcard-app-inner{
            transform: rotateY(180deg);
            }
                  
                  
            .flipcard-app-front, .flipcard-app-back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            }
                  
                  
            .flipcard-app-front{
            color: black;
            }
                  
                  
            .flipcard-app-back{
            background-color: $secondary;
            color: $primary;
            transform: rotateY(180deg);
            }

            .flipcard-des{
                background-color: transparent;
                width: 400px;
                height: 250px;
                border: 1px solid #f1f1f100;
                perspective: 1000px;
                }
                  
    
                .flipcard-des-inner{
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                }
                  
                
                .flipcard-des:hover .flipcard-des-inner{
                transform: rotateY(180deg);
                }
                  
                  
                .flipcard-des-front, .flipcard-des-back{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                }
                  
                  
                .flipcard-des-front{
                color: black;
                }
                  
                  
                .flipcard-des-back{
                background-color: $secondary;
                color: $primary;
                transform: rotateY(180deg);
                }

                .flipcard-main{
                    background-color: transparent;
                    width: 400px;
                    height: 250px;
                    border: 1px solid #f1f1f100;
                    perspective: 1000px;
                    }
                      
        
                    .flipcard-main-inner{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    }
                      
                    
                    .flipcard-main:hover .flipcard-main-inner{
                    transform: rotateY(180deg);
                    }
                      
                      
                    .flipcard-main-front, .flipcard-main-back{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    }
                      
                      
                    .flipcard-main-front{
                    color: black;
                    }
                      
                      
                    .flipcard-main-back{
                    background-color: $secondary;
                    color: $primary;
                    transform: rotateY(180deg);
                    }
        }
    }
}

#portfolio{
    width: 100%;
    height: 600px;
    background: url("../img/bg4.jpg");
    background-size: cover;

    .monportfolio{
        height: 100%;
        text-align: center;

        #titreportfolio{
            color: $secondary;
            margin: 0;
            padding-top: 70px;
            border-bottom: 3px solid $secondary;
        }

        .filtre{
            margin-top: 50px;
            margin-bottom: 30px;
            background: rgba(0, 0, 0, 0.205);
            text-align: left;

            .filtre-portfolio{
                background: $primary;
                color: $secondary;
                border: 1px solid $secondary;
            }
        }

        .projets{

            .projetsrow{

                .col-3{
                    width: 255px;
                    height: 300px;

                    .carre{
                        width: 100%;
                        height: 100%;
                        background: $secondary;
                        text-align: center;
                        color: white;
                        border: 1px solid $secondary;
                    }
                }
            }
        }
    }
}

#contact{
    width: 100%;
    height: 100vh;
    background: url("../img/bg12.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    .contactezmoi{
        height: 100%;
        text-align: center;

        #titrecontact{
            color: $secondary;
            margin: 0;
            padding-top: 60px;
            border-bottom: 3px solid $secondary;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 15px;
            border: 1px solid ;
            border-radius: 10px;
         
         
         }
         
         input[type=submit] {
            background-color: $primary;
            border: none;
            color: $secondary;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px;
         }
         
         input[type=submit]:hover {
            background: transparent ;
            color:$secondary;
            border: 1px solid $primary;
         }
    }
}

footer{
    width: 100%;
    height: 200px;
    background: $secondary;

    .footer-cont{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 10px;

        .footer-icons{
            border: 2px solid $primary;
            height: 50px;
            width: 55px;
            padding-top: 15px;
        }
    }

    #fennek{
        margin: 0;
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
}

//Media Query
@media only screen and (max-width: 1351px) {
    header{
        .mil{
            .salut{
                left: 573px;
            }

            .lien1{
                left: 573px;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    header{
        .mil{
            .salut{
                left: 615px;
            }

            .lien1{
                left: 615px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    header{
        .mil{
            .salut{
                left: 410px;
            }

            .lien1{
                left: 410px;
            }
        }
    }

    body{
        #services{
            height: 125vh;

            .tkt{
                right: 70px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    header{
        .mil{
            .salut{
                left: 290px;
                top: 30px;
            }

            .lien1{
                left: 290px;
            }
        }
    }

    body{
        #services{
            .messervices{
                .tarifs{
                    .tkt2{
                        margin-right: 25px;

                        .flipcard-ws{
                            width: 300px !important;
                            height: 250px !important;

                            .flipcard-ws-inner{
                                width: 300px !important;
                                height: 250px !important;

                                .flipcard-ws-front{
                                    width: 300px !important;
                                    height: 250px !important;
                    
                                    #img-ws{
                                        width: 300px !important;
                                        height: 250px !important;
                                    }
                                }
                    
                                .flipcard-ws-back{
                                    width: 300px !important;
                                    height: 250px !important;
                                }
                            }
                        }

                        .flipcard-des{
                            width: 300px !important;
                            height: 250px !important;

                            .flipcard-des-inner{
                                width: 300px !important;
                                height: 250px !important;

                                .flipcard-des-front{
                                    width: 300px !important;
                                    height: 250px !important;
                    
                                    #img-des{
                                        width: 300px !important;
                                        height: 250px !important;
                                    }
                                }
                    
                                .flipcard-des-back{
                                    width: 300px !important;
                                    height: 250px !important;
                                }
                            }
                        }
                    }

                    .tkt{
                        .flipcard-app{
                            width: 300px !important;
                            height: 250px !important;

                            .flipcard-app-inner{
                                width: 300px !important;
                                height: 250px !important;

                                .flipcard-app-front{
                                    width: 300px !important;
                                    height: 250px !important;
                    
                                    #img-app{
                                        width: 300px !important;
                                        height: 250px !important;
                                    }
                                }
                    
                                .flipcard-app-back{
                                    width: 300px !important;
                                    height: 250px !important;
                                }
                            }
                        }

                        .flipcard-main{
                            width: 300px !important;
                            height: 250px !important;

                            .flipcard-main-inner{
                                width: 300px !important;
                                height: 250px !important;

                                .flipcard-main-front{
                                    width: 300px !important;
                                    height: 250px !important;
                    
                                    #img-main{
                                        width: 300px !important;
                                        height: 250px !important;
                                    }
                                }
                    
                                .flipcard-main-back{
                                    width: 300px !important;
                                    height: 250px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #portfolio{
        .monportfolio{
            height: 550px;
            .projets{
                .projetsrow{
                    .carre{
                        height: 232px !important;
                    }
                }
            }
        }
    }

    #contact{
        .contactezmoi{
            #titrecontact{
                padding-top: 30px;
            }

            #imput{
                .tab-bord{
                    #btn-envoi{
                        border: 2px solid $secondary !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px){
    header{
        height: 410px;

        .mil{
            height: 0px;
            width: 0px;

            .salut{
                font-size: 18px;
                left: 116px;
                top: 0px;
            }

            .lien1{
                left: 165px;
                top: 260px;
            }
        }

        #carousel{
            .carousel-inner{
                height: 410px;
            }
        }
    }
}